n8n-workflow-for-msgbot.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "n8n-kakaotalk-from-msg",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        360,
        360
      ],
      "id": "6f16685f-bdf8-4a0b-a055-fd4c5b25d4d9",
      "name": "Webhook",
      "webhookId": "9f6c7306-fa14-4ba1-81bc-20f0c185d3e1"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.response_text }}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        740,
        360
      ],
      "id": "9f4e7500-ad1a-4910-8a91-d90bea090f71",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "89028375-a3ff-4cf1-ad33-dc8712f2bf58",
              "name": "response_text",
              "value": "=안녕하세요! 메시지  {{ $json.body.msg }} 를 잘 받았습니다 :)",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        580,
        360
      ],
      "id": "dfcc78ad-294f-463c-897d-b044d569f6e4",
      "name": "Edit Fields"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "558d88703fb65b2d0e44613bc35916258b0f0bf983c5d4730c00c424b77ca36a"
  }
}
